.dropbtn {
  background-color: #04AA6D;
  color: white;	font-size: 16px;
  padding: 16px;  border: none;}
.dropdown {  position: relative;  display: inline-block;}
 					 .dropdown:hover .dropbtn {background-color: #3e8e41;}
 						.dropdown:hover .dropdown-content {display: block;}
.dropdown-content {  display: none;  min-width: 98%;  z-index: 1;
  position: absolute;  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.dropdown-content a {
  color: black;  text-decoration: none;  
  padding: 2px 3px;	display: block;}
.dropdown-content a:hover {background-color: #ddd;}